.container{
  /* position: absolute; */
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  position: flex;
  /* padding-left:20px;
  margin: 5%; */

}
  .sidenav{
    background-color: #FF3366;

    .toolbar{
      color: #FF3366;
      background-color: white;
      display: flex;
      justify-content: center;
    }

    /*
    * Navigation
    */
    .mat-list-item a{
      color: white;
      text-decoration: none;
    }
  }

  .mat-sidenav-content{
    .toolbar{
      color: white;
      background-color: #FF3366;
    }
  }

